Renovación LIS Client/Renovación LIS Client/Connected Services/ServicePlayerReference/ServicePlayer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicePlayer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8030/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8030/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8030/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseManager" />
      <xsd:import schemaLocation="http://localhost:8030/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayer_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayer_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayer_GetPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayers" />
  </wsdl:message>
  <wsdl:message name="IPlayer_GetPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayer_GetPlayerByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByID" />
  </wsdl:message>
  <wsdl:message name="IPlayer_GetPlayerByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayer_GetSpecifiedPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecifiedPlayers" />
  </wsdl:message>
  <wsdl:message name="IPlayer_GetSpecifiedPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecifiedPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayer_GetPlayerByNickname_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByNickname" />
  </wsdl:message>
  <wsdl:message name="IPlayer_GetPlayerByNickname_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByNicknameResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayer_ModifyPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayer_ModifyPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayer_ModifyPasswordByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPasswordByEmail" />
  </wsdl:message>
  <wsdl:message name="IPlayer_ModifyPasswordByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPasswordByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayer_TheEmailIsAlreadyRegisted_InputMessage">
    <wsdl:part name="parameters" element="tns:TheEmailIsAlreadyRegisted" />
  </wsdl:message>
  <wsdl:message name="IPlayer_TheEmailIsAlreadyRegisted_OutputMessage">
    <wsdl:part name="parameters" element="tns:TheEmailIsAlreadyRegistedResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayer_TheNicknameIsAlreadyRegisted_InputMessage">
    <wsdl:part name="parameters" element="tns:TheNicknameIsAlreadyRegisted" />
  </wsdl:message>
  <wsdl:message name="IPlayer_TheNicknameIsAlreadyRegisted_OutputMessage">
    <wsdl:part name="parameters" element="tns:TheNicknameIsAlreadyRegistedResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlayer">
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayer/AddPlayer" message="tns:IPlayer_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayer/AddPlayerResponse" message="tns:IPlayer_AddPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayer/GetPlayers" message="tns:IPlayer_GetPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayer/GetPlayersResponse" message="tns:IPlayer_GetPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayer/GetPlayerByID" message="tns:IPlayer_GetPlayerByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayer/GetPlayerByIDResponse" message="tns:IPlayer_GetPlayerByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecifiedPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayer/GetSpecifiedPlayers" message="tns:IPlayer_GetSpecifiedPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayer/GetSpecifiedPlayersResponse" message="tns:IPlayer_GetSpecifiedPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByNickname">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayer/GetPlayerByNickname" message="tns:IPlayer_GetPlayerByNickname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayer/GetPlayerByNicknameResponse" message="tns:IPlayer_GetPlayerByNickname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayer/ModifyPlayer" message="tns:IPlayer_ModifyPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayer/ModifyPlayerResponse" message="tns:IPlayer_ModifyPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPasswordByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayer/ModifyPasswordByEmail" message="tns:IPlayer_ModifyPasswordByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayer/ModifyPasswordByEmailResponse" message="tns:IPlayer_ModifyPasswordByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TheEmailIsAlreadyRegisted">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayer/TheEmailIsAlreadyRegisted" message="tns:IPlayer_TheEmailIsAlreadyRegisted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayer/TheEmailIsAlreadyRegistedResponse" message="tns:IPlayer_TheEmailIsAlreadyRegisted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TheNicknameIsAlreadyRegisted">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayer/TheNicknameIsAlreadyRegisted" message="tns:IPlayer_TheNicknameIsAlreadyRegisted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayer/TheNicknameIsAlreadyRegistedResponse" message="tns:IPlayer_TheNicknameIsAlreadyRegisted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPlayer" type="tns:IPlayer">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayer_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayer/AddPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <soap12:operation soapAction="http://tempuri.org/IPlayer/GetPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByID">
      <soap12:operation soapAction="http://tempuri.org/IPlayer/GetPlayerByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecifiedPlayers">
      <soap12:operation soapAction="http://tempuri.org/IPlayer/GetSpecifiedPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByNickname">
      <soap12:operation soapAction="http://tempuri.org/IPlayer/GetPlayerByNickname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayer/ModifyPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPasswordByEmail">
      <soap12:operation soapAction="http://tempuri.org/IPlayer/ModifyPasswordByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheEmailIsAlreadyRegisted">
      <soap12:operation soapAction="http://tempuri.org/IPlayer/TheEmailIsAlreadyRegisted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheNicknameIsAlreadyRegisted">
      <soap12:operation soapAction="http://tempuri.org/IPlayer/TheNicknameIsAlreadyRegisted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePlayer">
    <wsdl:port name="NetTcpBinding_IPlayer" binding="tns:NetTcpBinding_IPlayer">
      <soap12:address location="net.tcp://localhost:8040/ServicePlayer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8040/ServicePlayer</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>