src/Client/Connected Services/ServiceProfileForNonCallbackMethodsReference/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.AuxiliaryDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.AuxiliaryDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDictionaryForGetConnectedProfilesAndItsPointsFromServiceMultiplayerCrossword">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DictionaryForGetConnectedProfilesAndItsPointsFromServiceMultiplayerCrossword" nillable="true" type="tns:DictionaryForGetConnectedProfilesAndItsPointsFromServiceMultiplayerCrossword" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDictionaryForGetConnectedProfilesAndItsPointsFromServiceMultiplayerCrossword" nillable="true" type="tns:ArrayOfDictionaryForGetConnectedProfilesAndItsPointsFromServiceMultiplayerCrossword" />
  <xs:complexType name="DictionaryForGetConnectedProfilesAndItsPointsFromServiceMultiplayerCrossword">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DictionaryForGetConnectedProfilesAndItsPointsFromServiceMultiplayerCrossword" nillable="true" type="tns:DictionaryForGetConnectedProfilesAndItsPointsFromServiceMultiplayerCrossword" />
</xs:schema>