src/Client/Connected Services/ServiceProfileForNonCallbackMethodsReference/item63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.DatabaseManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.DatabaseManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Profiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendRequests" nillable="true" type="tns:ArrayOfFriendRequests" />
      <xs:element minOccurs="0" name="FriendRequests1" nillable="true" type="tns:ArrayOfFriendRequests" />
      <xs:element minOccurs="0" name="IDProfile" type="xs:long" />
      <xs:element minOccurs="0" name="LoginStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:Players" />
      <xs:element minOccurs="0" name="ProfileImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profiles1" nillable="true" type="tns:ArrayOfProfiles" />
      <xs:element minOccurs="0" name="Profiles2" nillable="true" type="tns:ArrayOfProfiles" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profiles" nillable="true" type="tns:Profiles" />
  <xs:complexType name="ArrayOfFriendRequests">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequests" nillable="true" type="tns:FriendRequests" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequests" nillable="true" type="tns:ArrayOfFriendRequests" />
  <xs:complexType name="FriendRequests">
    <xs:sequence>
      <xs:element minOccurs="0" name="AceptationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDFriendRequest" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profiles" nillable="true" type="tns:Profiles" />
      <xs:element minOccurs="0" name="Profiles1" nillable="true" type="tns:Profiles" />
      <xs:element minOccurs="0" name="SendingStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequests" nillable="true" type="tns:FriendRequests" />
  <xs:complexType name="Players">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDPlayer" type="xs:long" />
      <xs:element minOccurs="0" name="Names" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profiles" nillable="true" type="tns:Profiles" />
      <xs:element minOccurs="0" name="Surnames" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Players" nillable="true" type="tns:Players" />
  <xs:complexType name="ArrayOfProfiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Profiles" nillable="true" type="tns:Profiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfiles" nillable="true" type="tns:ArrayOfProfiles" />
</xs:schema>