src/Client/Connected Services/ServiceProfileForNonCallbackMethodsReference/item65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8190/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.DatabaseManager" />
  <xs:import schemaLocation="http://localhost:8190/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.DomainStatuses" />
  <xs:import schemaLocation="http://localhost:8190/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Server.Domain" />
  <xs:import schemaLocation="http://localhost:8190/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Server.AuxiliaryDataContracts" />
  <xs:element name="AddProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.DatabaseManager" minOccurs="0" name="profilesSet" nillable="true" type="q1:ProfilesSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProfileResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScoreToProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileID" type="xs:long" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScoreToProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddScoreToProfileResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLoginStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.DomainStatuses" minOccurs="0" name="profileLoginStatus" type="q2:ProfileLoginStatuses" />
        <xs:element minOccurs="0" name="profileID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLoginStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Domain" minOccurs="0" name="GetFriendsResult" nillable="true" type="q3:ArrayOfProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageByPlayerNickname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerNickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageByPlayerNicknameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageByPlayerNicknameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Domain" minOccurs="0" name="GetProfileByIDResult" nillable="true" type="q4:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfilesAndItsScore">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfilesAndItsScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.AuxiliaryDataContracts" minOccurs="0" name="GetAllProfilesAndItsScoreResult" nillable="true" type="q5:ArrayOfDictionaryForGetConnectedProfilesAndItsPointsFromServiceMultiplayerCrossword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByPlayerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByPlayerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Domain" minOccurs="0" name="GetProfileByPlayerIDResult" nillable="true" type="q6:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByPlayerNickname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByPlayerNicknameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Domain" minOccurs="0" name="GetProfileByPlayerNicknameResult" nillable="true" type="q7:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyProfileImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileID" type="xs:long" />
        <xs:element minOccurs="0" name="newProfileImage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyProfileImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TheProfileIsLogged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TheProfileIsLoggedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TheProfileIsLoggedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriendship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server.DatabaseManager" minOccurs="0" name="profilesSet" nillable="true" type="q8:ProfilesSet" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server.DatabaseManager" minOccurs="0" name="profilesSet1" nillable="true" type="q9:ProfilesSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriendshipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelFriendship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server.DatabaseManager" minOccurs="0" name="profilesSet" nillable="true" type="q10:ProfilesSet" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server.DatabaseManager" minOccurs="0" name="profilesSet1" nillable="true" type="q11:ProfilesSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelFriendshipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>