Renovación LIS Client/Renovación LIS Client/Connected Services/ServiceMultiplayerGameReference/ServiceMultiplayerGame.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceMultiplayerGame" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMultiplayerGame_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMultiplayerGame_BanPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:BanPlayer" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_SetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAdmin" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_UnbanPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UnbanPlayer" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_GetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmin" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_GetAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_GetBannedProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBannedProfiles" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_GetBannedProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBannedProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_GetConnectedProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedProfiles" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_GetConnectedProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_IsAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAdmin" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_IsAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_IsBanned_InputMessage">
    <wsdl:part name="parameters" element="tns:IsBanned" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_IsBanned_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsBannedResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_IsConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:IsConnected" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_IsConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_SetThePlayersAreInGame_InputMessage">
    <wsdl:part name="parameters" element="tns:SetThePlayersAreInGame" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_SetThePlayersAreInGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetThePlayersAreInGameResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_SetThePlayersAreNotInGame_InputMessage">
    <wsdl:part name="parameters" element="tns:SetThePlayersAreNotInGame" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_SetThePlayersAreNotInGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetThePlayersAreNotInGameResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_ThePlayersAreInGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ThePlayersAreInGame" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_ThePlayersAreInGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThePlayersAreInGameResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_ExpelPlayerFromMultiplayerGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ExpelPlayerFromMultiplayerGame" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_UpdateBannedProfilesLists_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateBannedProfilesLists" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_UpdateConnectedProfilesLists_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateConnectedProfilesLists" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_UpdateConnectedProfilesForInviteToLobbyLists_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateConnectedProfilesForInviteToLobbyLists" />
  </wsdl:message>
  <wsdl:portType name="IMultiplayerGame">
    <wsdl:operation name="BanPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/BanPlayer" message="tns:IMultiplayerGame_BanPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/Connect" message="tns:IMultiplayerGame_Connect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/Disconnect" message="tns:IMultiplayerGame_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/SetAdmin" message="tns:IMultiplayerGame_SetAdmin_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnbanPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/UnbanPlayer" message="tns:IMultiplayerGame_UnbanPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/GetAdmin" message="tns:IMultiplayerGame_GetAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/GetAdminResponse" message="tns:IMultiplayerGame_GetAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBannedProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/GetBannedProfiles" message="tns:IMultiplayerGame_GetBannedProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/GetBannedProfilesResponse" message="tns:IMultiplayerGame_GetBannedProfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectedProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/GetConnectedProfiles" message="tns:IMultiplayerGame_GetConnectedProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/GetConnectedProfilesResponse" message="tns:IMultiplayerGame_GetConnectedProfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/IsAdmin" message="tns:IMultiplayerGame_IsAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/IsAdminResponse" message="tns:IMultiplayerGame_IsAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsBanned">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/IsBanned" message="tns:IMultiplayerGame_IsBanned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/IsBannedResponse" message="tns:IMultiplayerGame_IsBanned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsConnected">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/IsConnected" message="tns:IMultiplayerGame_IsConnected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/IsConnectedResponse" message="tns:IMultiplayerGame_IsConnected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetThePlayersAreInGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/SetThePlayersAreInGame" message="tns:IMultiplayerGame_SetThePlayersAreInGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/SetThePlayersAreInGameResponse" message="tns:IMultiplayerGame_SetThePlayersAreInGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetThePlayersAreNotInGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/SetThePlayersAreNotInGame" message="tns:IMultiplayerGame_SetThePlayersAreNotInGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/SetThePlayersAreNotInGameResponse" message="tns:IMultiplayerGame_SetThePlayersAreNotInGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThePlayersAreInGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/ThePlayersAreInGame" message="tns:IMultiplayerGame_ThePlayersAreInGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/ThePlayersAreInGameResponse" message="tns:IMultiplayerGame_ThePlayersAreInGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExpelPlayerFromMultiplayerGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/ExpelPlayerFromMultiplayerGame" message="tns:IMultiplayerGame_ExpelPlayerFromMultiplayerGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBannedProfilesLists">
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/UpdateBannedProfilesLists" message="tns:IMultiplayerGame_UpdateBannedProfilesLists_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConnectedProfilesLists">
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/UpdateConnectedProfilesLists" message="tns:IMultiplayerGame_UpdateConnectedProfilesLists_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConnectedProfilesForInviteToLobbyLists">
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/UpdateConnectedProfilesForInviteToLobbyLists" message="tns:IMultiplayerGame_UpdateConnectedProfilesForInviteToLobbyLists_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMultiplayerGame" type="tns:IMultiplayerGame">
    <wsp:PolicyReference URI="#NetTcpBinding_IMultiplayerGame_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="BanPlayer">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/BanPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetAdmin">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/SetAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnbanPlayer">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/UnbanPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAdmin">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/GetAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBannedProfiles">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/GetBannedProfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectedProfiles">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/GetConnectedProfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/IsAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBanned">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/IsBanned" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsConnected">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/IsConnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetThePlayersAreInGame">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/SetThePlayersAreInGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetThePlayersAreNotInGame">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/SetThePlayersAreNotInGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThePlayersAreInGame">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/ThePlayersAreInGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpelPlayerFromMultiplayerGame">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/ExpelPlayerFromMultiplayerGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBannedProfilesLists">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/UpdateBannedProfilesLists" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConnectedProfilesLists">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/UpdateConnectedProfilesLists" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConnectedProfilesForInviteToLobbyLists">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/UpdateConnectedProfilesForInviteToLobbyLists" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMultiplayerGame">
    <wsdl:port name="NetTcpBinding_IMultiplayerGame" binding="tns:NetTcpBinding_IMultiplayerGame">
      <soap12:address location="net.tcp://localhost:8100/ServiceMultiplayerGame" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8100/ServiceMultiplayerGame</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>