Renovación LIS Client/Renovación LIS Client/Connected Services/ServiceMultiplayerGameReference/ServiceMultiplayerGame.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceMultiplayerGame" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMultiplayerGame_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMultiplayerGame_BanPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:BanPlayer" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_SetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAdmin" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_UnbanPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UnbanPlayer" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_UpdateBannedProfilesListsToAllConnectedClients_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBannedProfilesListsToAllConnectedClients" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_UpdateConnectedProfilesListsToAllConnectedClients_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConnectedProfilesListsToAllConnectedClients" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_UpdateBannedProfilesLists_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateBannedProfilesLists" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerGame_UpdateConnectedProfilesLists_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateConnectedProfilesLists" />
  </wsdl:message>
  <wsdl:portType name="IMultiplayerGame">
    <wsdl:operation name="BanPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/BanPlayer" message="tns:IMultiplayerGame_BanPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/Connect" message="tns:IMultiplayerGame_Connect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/Disconnect" message="tns:IMultiplayerGame_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/SetAdmin" message="tns:IMultiplayerGame_SetAdmin_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnbanPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/UnbanPlayer" message="tns:IMultiplayerGame_UnbanPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBannedProfilesListsToAllConnectedClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/UpdateBannedProfilesListsToAllConnectedClients" message="tns:IMultiplayerGame_UpdateBannedProfilesListsToAllConnectedClients_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConnectedProfilesListsToAllConnectedClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerGame/UpdateConnectedProfilesListsToAllConnectedClients" message="tns:IMultiplayerGame_UpdateConnectedProfilesListsToAllConnectedClients_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBannedProfilesLists">
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/UpdateBannedProfilesLists" message="tns:IMultiplayerGame_UpdateBannedProfilesLists_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConnectedProfilesLists">
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerGame/UpdateConnectedProfilesLists" message="tns:IMultiplayerGame_UpdateConnectedProfilesLists_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMultiplayerGame" type="tns:IMultiplayerGame">
    <wsp:PolicyReference URI="#NetTcpBinding_IMultiplayerGame_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="BanPlayer">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/BanPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetAdmin">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/SetAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnbanPlayer">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/UnbanPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateBannedProfilesListsToAllConnectedClients">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/UpdateBannedProfilesListsToAllConnectedClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateConnectedProfilesListsToAllConnectedClients">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/UpdateConnectedProfilesListsToAllConnectedClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateBannedProfilesLists">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/UpdateBannedProfilesLists" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConnectedProfilesLists">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerGame/UpdateConnectedProfilesLists" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMultiplayerGame">
    <wsdl:port name="NetTcpBinding_IMultiplayerGame" binding="tns:NetTcpBinding_IMultiplayerGame">
      <soap12:address location="net.tcp://localhost:8100/ServiceMultiplayerGame" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8100/ServiceMultiplayerGame</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>