Renovación LIS Client/Renovación LIS Client/Connected Services/ServiceProfileForCallbackMethodsReference/ServiceProfileForCallbackMethods.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceProfileForCallbackMethods" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProfileForCallbackMethods_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8150/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8150/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileForCallbackMethods_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IProfileForCallbackMethods_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IProfileForCallbackMethods_UpdateFriendsListsToAllConnectedClients_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFriendsListsToAllConnectedClients" />
  </wsdl:message>
  <wsdl:message name="IProfileForCallbackMethods_InviteFriendToTheLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:InviteFriendToTheLobby" />
  </wsdl:message>
  <wsdl:message name="IProfileForCallbackMethods_UpdateFriendsLists_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateFriendsLists" />
  </wsdl:message>
  <wsdl:message name="IProfileForCallbackMethods_UpdateFriendsForInviteLists_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateFriendsForInviteLists" />
  </wsdl:message>
  <wsdl:message name="IProfileForCallbackMethods_OpenPaneForEnterTheLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OpenPaneForEnterTheLobby" />
  </wsdl:message>
  <wsdl:portType name="IProfileForCallbackMethods">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileForCallbackMethods/Connect" message="tns:IProfileForCallbackMethods_Connect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileForCallbackMethods/Disconnect" message="tns:IProfileForCallbackMethods_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendsListsToAllConnectedClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileForCallbackMethods/UpdateFriendsListsToAllConnectedClients" message="tns:IProfileForCallbackMethods_UpdateFriendsListsToAllConnectedClients_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InviteFriendToTheLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileForCallbackMethods/InviteFriendToTheLobby" message="tns:IProfileForCallbackMethods_InviteFriendToTheLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendsLists">
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileForCallbackMethods/UpdateFriendsLists" message="tns:IProfileForCallbackMethods_UpdateFriendsLists_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendsForInviteLists">
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileForCallbackMethods/UpdateFriendsForInviteLists" message="tns:IProfileForCallbackMethods_UpdateFriendsForInviteLists_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenPaneForEnterTheLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileForCallbackMethods/OpenPaneForEnterTheLobby" message="tns:IProfileForCallbackMethods_OpenPaneForEnterTheLobby_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProfileForCallbackMethods" type="tns:IProfileForCallbackMethods">
    <wsp:PolicyReference URI="#NetTcpBinding_IProfileForCallbackMethods_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IProfileForCallbackMethods/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IProfileForCallbackMethods/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendsListsToAllConnectedClients">
      <soap12:operation soapAction="http://tempuri.org/IProfileForCallbackMethods/UpdateFriendsListsToAllConnectedClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InviteFriendToTheLobby">
      <soap12:operation soapAction="http://tempuri.org/IProfileForCallbackMethods/InviteFriendToTheLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendsLists">
      <soap12:operation soapAction="http://tempuri.org/IProfileForCallbackMethods/UpdateFriendsLists" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendsForInviteLists">
      <soap12:operation soapAction="http://tempuri.org/IProfileForCallbackMethods/UpdateFriendsForInviteLists" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenPaneForEnterTheLobby">
      <soap12:operation soapAction="http://tempuri.org/IProfileForCallbackMethods/OpenPaneForEnterTheLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProfileForCallbackMethods">
    <wsdl:port name="NetTcpBinding_IProfileForCallbackMethods" binding="tns:NetTcpBinding_IProfileForCallbackMethods">
      <soap12:address location="net.tcp://localhost:8160/ServiceProfileForCallbackMethods" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8160/ServiceProfileForCallbackMethods</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>