Renovación LIS Client/Renovación LIS Client/Connected Services/ServiceFriendRequestForCallbackMethodsReference/ServiceFriendRequestForCallbackMethods.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceFriendRequestForCallbackMethods" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendRequestForCallbackMethods_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8070/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8070/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendRequestForCallbackMethods_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IFriendRequestForCallbackMethods_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IFriendRequestForCallbackMethods_UpdateFriendRequestsListsToAllConnectedClients_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFriendRequestsListsToAllConnectedClients" />
  </wsdl:message>
  <wsdl:message name="IFriendRequestForCallbackMethods_UpdateFriendsRequestsLists_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateFriendsRequestsLists" />
  </wsdl:message>
  <wsdl:portType name="IFriendRequestForCallbackMethods">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendRequestForCallbackMethods/Connect" message="tns:IFriendRequestForCallbackMethods_Connect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendRequestForCallbackMethods/Disconnect" message="tns:IFriendRequestForCallbackMethods_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendRequestsListsToAllConnectedClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendRequestForCallbackMethods/UpdateFriendRequestsListsToAllConnectedClients" message="tns:IFriendRequestForCallbackMethods_UpdateFriendRequestsListsToAllConnectedClients_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendsRequestsLists">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendRequestForCallbackMethods/UpdateFriendsRequestsLists" message="tns:IFriendRequestForCallbackMethods_UpdateFriendsRequestsLists_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFriendRequestForCallbackMethods" type="tns:IFriendRequestForCallbackMethods">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendRequestForCallbackMethods_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IFriendRequestForCallbackMethods/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IFriendRequestForCallbackMethods/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendRequestsListsToAllConnectedClients">
      <soap12:operation soapAction="http://tempuri.org/IFriendRequestForCallbackMethods/UpdateFriendRequestsListsToAllConnectedClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendsRequestsLists">
      <soap12:operation soapAction="http://tempuri.org/IFriendRequestForCallbackMethods/UpdateFriendsRequestsLists" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceFriendRequestForCallbackMethods">
    <wsdl:port name="NetTcpBinding_IFriendRequestForCallbackMethods" binding="tns:NetTcpBinding_IFriendRequestForCallbackMethods">
      <soap12:address location="net.tcp://localhost:8080/ServiceFriendRequest" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/ServiceFriendRequest</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>