Renovación LIS Client/Renovación LIS Client/Connected Services/ServiceProfileReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseManager" />
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainStatuses" />
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/domain" />
  <xs:element name="AddProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DatabaseManager" minOccurs="0" name="profiles" nillable="true" type="q1:Profiles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProfileResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLoginStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DomainStatuses" minOccurs="0" name="profileLoginStatus" type="q2:ProfileLoginStatuses" />
        <xs:element minOccurs="0" name="profileID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLoginStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/domain" minOccurs="0" name="GetFriendsResult" nillable="true" type="q3:ArrayOfProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByPlayerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByPlayerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/domain" minOccurs="0" name="GetProfileByPlayerIDResult" nillable="true" type="q4:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByPlayerNickname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByPlayerNicknameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/domain" minOccurs="0" name="GetProfileByPlayerNicknameResult" nillable="true" type="q5:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>