Renovación LIS Client/Renovación LIS Client/Connected Services/ServiceProfileReference/ServiceProfile1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceProfile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProfile_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8110/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8110/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8110/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseManager" />
      <xsd:import schemaLocation="http://localhost:8110/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainStatuses" />
      <xsd:import schemaLocation="http://localhost:8110/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfile_AddProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProfile" />
  </wsdl:message>
  <wsdl:message name="IProfile_AddProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_ChangeLoginStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeLoginStatus" />
  </wsdl:message>
  <wsdl:message name="IProfile_ChangeLoginStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeLoginStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="IProfile_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IProfile_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_GetProfileByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByID" />
  </wsdl:message>
  <wsdl:message name="IProfile_GetProfileByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_GetProfileByPlayerID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByPlayerID" />
  </wsdl:message>
  <wsdl:message name="IProfile_GetProfileByPlayerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByPlayerIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_GetProfileByPlayerNickname_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByPlayerNickname" />
  </wsdl:message>
  <wsdl:message name="IProfile_GetProfileByPlayerNickname_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByPlayerNicknameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_ModifyImageName_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyImageName" />
  </wsdl:message>
  <wsdl:message name="IProfile_ModifyImageName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyImageNameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_TheProfileIsLogged_InputMessage">
    <wsdl:part name="parameters" element="tns:TheProfileIsLogged" />
  </wsdl:message>
  <wsdl:message name="IProfile_TheProfileIsLogged_OutputMessage">
    <wsdl:part name="parameters" element="tns:TheProfileIsLoggedResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_UploadImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage" />
  </wsdl:message>
  <wsdl:message name="IProfile_UploadImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_AddFriendship_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendship" />
  </wsdl:message>
  <wsdl:message name="IProfile_AddFriendship_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendshipResponse" />
  </wsdl:message>
  <wsdl:message name="IProfile_CancelFriendship_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelFriendship" />
  </wsdl:message>
  <wsdl:message name="IProfile_CancelFriendship_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelFriendshipResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfile">
    <wsdl:operation name="AddProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/AddProfile" message="tns:IProfile_AddProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/AddProfileResponse" message="tns:IProfile_AddProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeLoginStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/ChangeLoginStatus" message="tns:IProfile_ChangeLoginStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/ChangeLoginStatusResponse" message="tns:IProfile_ChangeLoginStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/GetFriends" message="tns:IProfile_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/GetFriendsResponse" message="tns:IProfile_GetFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/GetImage" message="tns:IProfile_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/GetImageResponse" message="tns:IProfile_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/GetProfileByID" message="tns:IProfile_GetProfileByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/GetProfileByIDResponse" message="tns:IProfile_GetProfileByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileByPlayerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/GetProfileByPlayerID" message="tns:IProfile_GetProfileByPlayerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/GetProfileByPlayerIDResponse" message="tns:IProfile_GetProfileByPlayerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileByPlayerNickname">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/GetProfileByPlayerNickname" message="tns:IProfile_GetProfileByPlayerNickname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/GetProfileByPlayerNicknameResponse" message="tns:IProfile_GetProfileByPlayerNickname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyImageName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/ModifyImageName" message="tns:IProfile_ModifyImageName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/ModifyImageNameResponse" message="tns:IProfile_ModifyImageName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TheProfileIsLogged">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/TheProfileIsLogged" message="tns:IProfile_TheProfileIsLogged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/TheProfileIsLoggedResponse" message="tns:IProfile_TheProfileIsLogged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/UploadImage" message="tns:IProfile_UploadImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/UploadImageResponse" message="tns:IProfile_UploadImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFriendship">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/AddFriendship" message="tns:IProfile_AddFriendship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/AddFriendshipResponse" message="tns:IProfile_AddFriendship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelFriendship">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfile/CancelFriendship" message="tns:IProfile_CancelFriendship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfile/CancelFriendshipResponse" message="tns:IProfile_CancelFriendship_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProfile" type="tns:IProfile">
    <wsp:PolicyReference URI="#NetTcpBinding_IProfile_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddProfile">
      <soap12:operation soapAction="http://tempuri.org/IProfile/AddProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeLoginStatus">
      <soap12:operation soapAction="http://tempuri.org/IProfile/ChangeLoginStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap12:operation soapAction="http://tempuri.org/IProfile/GetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap12:operation soapAction="http://tempuri.org/IProfile/GetImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileByID">
      <soap12:operation soapAction="http://tempuri.org/IProfile/GetProfileByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileByPlayerID">
      <soap12:operation soapAction="http://tempuri.org/IProfile/GetProfileByPlayerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileByPlayerNickname">
      <soap12:operation soapAction="http://tempuri.org/IProfile/GetProfileByPlayerNickname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyImageName">
      <soap12:operation soapAction="http://tempuri.org/IProfile/ModifyImageName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheProfileIsLogged">
      <soap12:operation soapAction="http://tempuri.org/IProfile/TheProfileIsLogged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap12:operation soapAction="http://tempuri.org/IProfile/UploadImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFriendship">
      <soap12:operation soapAction="http://tempuri.org/IProfile/AddFriendship" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelFriendship">
      <soap12:operation soapAction="http://tempuri.org/IProfile/CancelFriendship" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProfile">
    <wsdl:port name="NetTcpBinding_IProfile" binding="tns:NetTcpBinding_IProfile">
      <soap12:address location="net.tcp://localhost:8120/ServiceProfile" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8120/ServiceProfile</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>