Renovación LIS Client/Renovación LIS Client/Connected Services/ServiceProfileForNonCallbackMethodsReference/ServiceProfileForNonCallbackMethods.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceProfileForNonCallbackMethods" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProfileNonCallbackMethods_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8190/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8190/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8190/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseManager" />
      <xsd:import schemaLocation="http://localhost:8190/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainStatuses" />
      <xsd:import schemaLocation="http://localhost:8190/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileNonCallbackMethods_AddProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProfile" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_AddProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_ChangeLoginStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeLoginStatus" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_ChangeLoginStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeLoginStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_GetProfileByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByID" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_GetProfileByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_GetProfileByPlayerID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByPlayerID" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_GetProfileByPlayerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByPlayerIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_GetProfileByPlayerNickname_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByPlayerNickname" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_GetProfileByPlayerNickname_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByPlayerNicknameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_ModifyImageName_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyImageName" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_ModifyImageName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyImageNameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_TheProfileIsLogged_InputMessage">
    <wsdl:part name="parameters" element="tns:TheProfileIsLogged" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_TheProfileIsLogged_OutputMessage">
    <wsdl:part name="parameters" element="tns:TheProfileIsLoggedResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_UploadImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_UploadImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_AddFriendship_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendship" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_AddFriendship_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendshipResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_CancelFriendship_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelFriendship" />
  </wsdl:message>
  <wsdl:message name="IProfileNonCallbackMethods_CancelFriendship_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelFriendshipResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileNonCallbackMethods">
    <wsdl:operation name="AddProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/AddProfile" message="tns:IProfileNonCallbackMethods_AddProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/AddProfileResponse" message="tns:IProfileNonCallbackMethods_AddProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeLoginStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/ChangeLoginStatus" message="tns:IProfileNonCallbackMethods_ChangeLoginStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/ChangeLoginStatusResponse" message="tns:IProfileNonCallbackMethods_ChangeLoginStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/GetFriends" message="tns:IProfileNonCallbackMethods_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/GetFriendsResponse" message="tns:IProfileNonCallbackMethods_GetFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/GetImage" message="tns:IProfileNonCallbackMethods_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/GetImageResponse" message="tns:IProfileNonCallbackMethods_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/GetProfileByID" message="tns:IProfileNonCallbackMethods_GetProfileByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/GetProfileByIDResponse" message="tns:IProfileNonCallbackMethods_GetProfileByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileByPlayerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/GetProfileByPlayerID" message="tns:IProfileNonCallbackMethods_GetProfileByPlayerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/GetProfileByPlayerIDResponse" message="tns:IProfileNonCallbackMethods_GetProfileByPlayerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileByPlayerNickname">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/GetProfileByPlayerNickname" message="tns:IProfileNonCallbackMethods_GetProfileByPlayerNickname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/GetProfileByPlayerNicknameResponse" message="tns:IProfileNonCallbackMethods_GetProfileByPlayerNickname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyImageName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/ModifyImageName" message="tns:IProfileNonCallbackMethods_ModifyImageName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/ModifyImageNameResponse" message="tns:IProfileNonCallbackMethods_ModifyImageName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TheProfileIsLogged">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/TheProfileIsLogged" message="tns:IProfileNonCallbackMethods_TheProfileIsLogged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/TheProfileIsLoggedResponse" message="tns:IProfileNonCallbackMethods_TheProfileIsLogged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/UploadImage" message="tns:IProfileNonCallbackMethods_UploadImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/UploadImageResponse" message="tns:IProfileNonCallbackMethods_UploadImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFriendship">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/AddFriendship" message="tns:IProfileNonCallbackMethods_AddFriendship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/AddFriendshipResponse" message="tns:IProfileNonCallbackMethods_AddFriendship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelFriendship">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/CancelFriendship" message="tns:IProfileNonCallbackMethods_CancelFriendship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileNonCallbackMethods/CancelFriendshipResponse" message="tns:IProfileNonCallbackMethods_CancelFriendship_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProfileNonCallbackMethods" type="tns:IProfileNonCallbackMethods">
    <wsp:PolicyReference URI="#NetTcpBinding_IProfileNonCallbackMethods_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddProfile">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/AddProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeLoginStatus">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/ChangeLoginStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/GetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/GetImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileByID">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/GetProfileByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileByPlayerID">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/GetProfileByPlayerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileByPlayerNickname">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/GetProfileByPlayerNickname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyImageName">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/ModifyImageName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheProfileIsLogged">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/TheProfileIsLogged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/UploadImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFriendship">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/AddFriendship" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelFriendship">
      <soap12:operation soapAction="http://tempuri.org/IProfileNonCallbackMethods/CancelFriendship" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProfileForNonCallbackMethods">
    <wsdl:port name="NetTcpBinding_IProfileNonCallbackMethods" binding="tns:NetTcpBinding_IProfileNonCallbackMethods">
      <soap12:address location="net.tcp://localhost:8200/ServiceProfileForNonCallbackMethods" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8200/ServiceProfileForNonCallbackMethods</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>