Renovación LIS Client/Renovación LIS Client/Connected Services/ServiceFriendRequestReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8030/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseManager" />
  <xs:element name="AddFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DatabaseManager" minOccurs="0" name="friendRequests" nillable="true" type="q1:FriendRequests" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFriendRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsRequestsByProfileID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsRequestsByProfileIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DatabaseManager" minOccurs="0" name="GetFriendsRequestsByProfileIDResult" nillable="true" type="q2:ArrayOfFriendRequests" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsRequestsByProfile1ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsRequestsByProfile1IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DatabaseManager" minOccurs="0" name="GetFriendsRequestsByProfile1IDResult" nillable="true" type="q3:ArrayOfFriendRequests" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>