Renovación LIS Client/Renovación LIS Client/Connected Services/ServiceFriendRequestReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FriendRequests">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDFriendRequest" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profiles" nillable="true" type="tns:Profiles" />
      <xs:element minOccurs="0" name="Profiles1" nillable="true" type="tns:Profiles" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequests" nillable="true" type="tns:FriendRequests" />
  <xs:complexType name="Profiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coins" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Crucigrams" nillable="true" type="tns:ArrayOfCrucigrams" />
      <xs:element minOccurs="0" name="FriendRequests" nillable="true" type="tns:ArrayOfFriendRequests" />
      <xs:element minOccurs="0" name="FriendRequests1" nillable="true" type="tns:ArrayOfFriendRequests" />
      <xs:element minOccurs="0" name="IDProfile" type="xs:long" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:Players" />
      <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profiles1" nillable="true" type="tns:ArrayOfProfiles" />
      <xs:element minOccurs="0" name="Profiles2" nillable="true" type="tns:ArrayOfProfiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profiles" nillable="true" type="tns:Profiles" />
  <xs:complexType name="ArrayOfCrucigrams">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Crucigrams" nillable="true" type="tns:Crucigrams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCrucigrams" nillable="true" type="tns:ArrayOfCrucigrams" />
  <xs:complexType name="Crucigrams">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDCrucigram" type="xs:long" />
      <xs:element minOccurs="0" name="Levels" nillable="true" type="tns:ArrayOfLevels" />
      <xs:element minOccurs="0" name="Profiles" nillable="true" type="tns:ArrayOfProfiles" />
      <xs:element minOccurs="0" name="Words" nillable="true" type="tns:ArrayOfWords" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Crucigrams" nillable="true" type="tns:Crucigrams" />
  <xs:complexType name="ArrayOfLevels">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Levels" nillable="true" type="tns:Levels" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLevels" nillable="true" type="tns:ArrayOfLevels" />
  <xs:complexType name="Levels">
    <xs:sequence>
      <xs:element minOccurs="0" name="Crucigrams" nillable="true" type="tns:ArrayOfCrucigrams" />
      <xs:element minOccurs="0" name="Difficulty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDLevel" type="xs:long" />
      <xs:element minOccurs="0" name="LevelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Levels" nillable="true" type="tns:Levels" />
  <xs:complexType name="ArrayOfProfiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Profiles" nillable="true" type="tns:Profiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfiles" nillable="true" type="tns:ArrayOfProfiles" />
  <xs:complexType name="ArrayOfWords">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Words" nillable="true" type="tns:Words" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWords" nillable="true" type="tns:ArrayOfWords" />
  <xs:complexType name="Words">
    <xs:sequence>
      <xs:element minOccurs="0" name="Crucigrams" nillable="true" type="tns:ArrayOfCrucigrams" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDWord" type="xs:long" />
      <xs:element minOccurs="0" name="Word" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Words" nillable="true" type="tns:Words" />
  <xs:complexType name="ArrayOfFriendRequests">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequests" nillable="true" type="tns:FriendRequests" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequests" nillable="true" type="tns:ArrayOfFriendRequests" />
  <xs:complexType name="Players">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDPlayer" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profiles" nillable="true" type="tns:Profiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Players" nillable="true" type="tns:Players" />
</xs:schema>