ConsoleApp1/Connected Services/ServicePlayerReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Players">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternateEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BirthMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FirstSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDPlayer" type="xs:long" />
      <xs:element minOccurs="0" name="MainEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profiles" nillable="true" type="tns:Profiles" />
      <xs:element minOccurs="0" name="SecondSurname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Players" nillable="true" type="tns:Players" />
  <xs:complexType name="Profiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coins" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="IDProfile" type="xs:long" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:Players" />
      <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profiles" nillable="true" type="tns:Profiles" />
  <xs:complexType name="ArrayOfPlayers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Players" nillable="true" type="tns:Players" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayers" nillable="true" type="tns:ArrayOfPlayers" />
</xs:schema>