Renovación LIS Client/Renovación LIS Client/Connected Services/ServiceMultiplayerCrosswordForNonCallbackMethodsReference/ServiceMultiplayerCrosswordForNonCallbackMethods.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceMultiplayerCrosswordForNonCallbackMethods" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMultiplayerCrosswordNonCallbackMethods_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8130/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8130/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8130/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_GetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmin" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_GetAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_GetConnectedProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedProfiles" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_GetConnectedProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_GetCrosswordNumberSelected_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCrosswordNumberSelected" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_GetCrosswordNumberSelected_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCrosswordNumberSelectedResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_GetCrosswordsPlayed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCrosswordsPlayed" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_GetCrosswordsPlayed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCrosswordsPlayedResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_GetPointsFromAProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsFromAProfile" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_GetPointsFromAProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsFromAProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_SetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAdmin" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_SetAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_SetTheCrosswordIsComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTheCrosswordIsComplete" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_SetTheCrosswordIsComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTheCrosswordIsCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_SetTheCrosswordIsNotComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTheCrosswordIsNotComplete" />
  </wsdl:message>
  <wsdl:message name="IMultiplayerCrosswordNonCallbackMethods_SetTheCrosswordIsNotComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTheCrosswordIsNotCompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IMultiplayerCrosswordNonCallbackMethods">
    <wsdl:operation name="GetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetAdmin" message="tns:IMultiplayerCrosswordNonCallbackMethods_GetAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetAdminResponse" message="tns:IMultiplayerCrosswordNonCallbackMethods_GetAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectedProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetConnectedProfiles" message="tns:IMultiplayerCrosswordNonCallbackMethods_GetConnectedProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetConnectedProfilesResponse" message="tns:IMultiplayerCrosswordNonCallbackMethods_GetConnectedProfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCrosswordNumberSelected">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetCrosswordNumberSelected" message="tns:IMultiplayerCrosswordNonCallbackMethods_GetCrosswordNumberSelected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetCrosswordNumberSelectedResponse" message="tns:IMultiplayerCrosswordNonCallbackMethods_GetCrosswordNumberSelected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCrosswordsPlayed">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetCrosswordsPlayed" message="tns:IMultiplayerCrosswordNonCallbackMethods_GetCrosswordsPlayed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetCrosswordsPlayedResponse" message="tns:IMultiplayerCrosswordNonCallbackMethods_GetCrosswordsPlayed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPointsFromAProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetPointsFromAProfile" message="tns:IMultiplayerCrosswordNonCallbackMethods_GetPointsFromAProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetPointsFromAProfileResponse" message="tns:IMultiplayerCrosswordNonCallbackMethods_GetPointsFromAProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/SetAdmin" message="tns:IMultiplayerCrosswordNonCallbackMethods_SetAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/SetAdminResponse" message="tns:IMultiplayerCrosswordNonCallbackMethods_SetAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTheCrosswordIsComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/SetTheCrosswordIsComplete" message="tns:IMultiplayerCrosswordNonCallbackMethods_SetTheCrosswordIsComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/SetTheCrosswordIsCompleteResponse" message="tns:IMultiplayerCrosswordNonCallbackMethods_SetTheCrosswordIsComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTheCrosswordIsNotComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/SetTheCrosswordIsNotComplete" message="tns:IMultiplayerCrosswordNonCallbackMethods_SetTheCrosswordIsNotComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/SetTheCrosswordIsNotCompleteResponse" message="tns:IMultiplayerCrosswordNonCallbackMethods_SetTheCrosswordIsNotComplete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMultiplayerCrosswordNonCallbackMethods" type="tns:IMultiplayerCrosswordNonCallbackMethods">
    <wsp:PolicyReference URI="#NetTcpBinding_IMultiplayerCrosswordNonCallbackMethods_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAdmin">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectedProfiles">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetConnectedProfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCrosswordNumberSelected">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetCrosswordNumberSelected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCrosswordsPlayed">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetCrosswordsPlayed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointsFromAProfile">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/GetPointsFromAProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdmin">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/SetAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTheCrosswordIsComplete">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/SetTheCrosswordIsComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTheCrosswordIsNotComplete">
      <soap12:operation soapAction="http://tempuri.org/IMultiplayerCrosswordNonCallbackMethods/SetTheCrosswordIsNotComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMultiplayerCrosswordForNonCallbackMethods">
    <wsdl:port name="NetTcpBinding_IMultiplayerCrosswordNonCallbackMethods" binding="tns:NetTcpBinding_IMultiplayerCrosswordNonCallbackMethods">
      <soap12:address location="net.tcp://localhost:8140/ServiceMultiplayerCrosswordForNonCallbackMethods" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8140/ServiceMultiplayerCrosswordForNonCallbackMethods</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>