src/Client/Connected Services/ServiceFriendRequestForNonCallbackMethodsReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.DatabaseManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.DatabaseManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFriendRequestsSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequestsSet" nillable="true" type="tns:FriendRequestsSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequestsSet" nillable="true" type="tns:ArrayOfFriendRequestsSet" />
  <xs:complexType name="FriendRequestsSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="AceptationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDFriendRequest" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profiles1_IDProfile" type="xs:long" />
      <xs:element minOccurs="0" name="ProfilesSet" nillable="true" type="tns:ProfilesSet" />
      <xs:element minOccurs="0" name="ProfilesSet1" nillable="true" type="tns:ProfilesSet" />
      <xs:element minOccurs="0" name="Profiles_IDProfile" type="xs:long" />
      <xs:element minOccurs="0" name="SendingStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequestsSet" nillable="true" type="tns:FriendRequestsSet" />
  <xs:complexType name="ProfilesSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendRequestsSet" nillable="true" type="tns:ArrayOfFriendRequestsSet" />
      <xs:element minOccurs="0" name="FriendRequestsSet1" nillable="true" type="tns:ArrayOfFriendRequestsSet" />
      <xs:element minOccurs="0" name="IDProfile" type="xs:long" />
      <xs:element minOccurs="0" name="LoginStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayersSet" nillable="true" type="tns:PlayersSet" />
      <xs:element minOccurs="0" name="PlayersSet1" nillable="true" type="tns:ArrayOfPlayersSet" />
      <xs:element minOccurs="0" name="PlayersSet_IDPlayer" type="xs:long" />
      <xs:element minOccurs="0" name="ProfileImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilesSet1" nillable="true" type="tns:ArrayOfProfilesSet" />
      <xs:element minOccurs="0" name="ProfilesSet2" nillable="true" type="tns:ArrayOfProfilesSet" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfilesSet" nillable="true" type="tns:ProfilesSet" />
  <xs:complexType name="PlayersSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDPlayer" type="xs:long" />
      <xs:element minOccurs="0" name="Names" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilesSet" nillable="true" type="tns:ProfilesSet" />
      <xs:element minOccurs="0" name="ProfilesSet1" nillable="true" type="tns:ArrayOfProfilesSet" />
      <xs:element minOccurs="0" name="ProfilesSet_IDProfile" type="xs:long" />
      <xs:element minOccurs="0" name="Surnames" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayersSet" nillable="true" type="tns:PlayersSet" />
  <xs:complexType name="ArrayOfProfilesSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfilesSet" nillable="true" type="tns:ProfilesSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfilesSet" nillable="true" type="tns:ArrayOfProfilesSet" />
  <xs:complexType name="ArrayOfPlayersSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayersSet" nillable="true" type="tns:PlayersSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayersSet" nillable="true" type="tns:ArrayOfPlayersSet" />
</xs:schema>