src/Client/Connected Services/ServiceFriendRequestForNonCallbackMethodsReference/item42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Client.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FriendRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AceptationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDFriendRequest" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="tns:Profile" />
      <xs:element minOccurs="0" name="Profile1" nillable="true" type="tns:Profile" />
      <xs:element minOccurs="0" name="SendingStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequest" nillable="true" type="tns:FriendRequest" />
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDProfile" type="xs:long" />
      <xs:element minOccurs="0" name="LoginStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Score" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDPlayer" type="xs:long" />
      <xs:element minOccurs="0" name="Names" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="tns:Profile" />
      <xs:element minOccurs="0" name="Surnames" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfFriendRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequest" nillable="true" type="tns:FriendRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequest" nillable="true" type="tns:ArrayOfFriendRequest" />
</xs:schema>